@model ViewUser

@{
    ViewBag.Title = Model.Nickname + " — Изменение профиля — EduTeam";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/proj_peop.css"/>
    
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">&#64;@Model.Nickname</span>
                <span class="text-black-50">@Model.Email</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Изменение профиля</h4>
                </div>
                 <form class="" asp-action="EditUserProfile" asp-controller="Profile" method="post">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels" asp-for="FirstName">Имя</label>
                            <input type="text" class="form-control" asp-for="FirstName" placeholder="first name" value="@Model.FirstName">
                        </div>
                        <div class="col-md-6">
                            <label class="labels" asp-for="SecondName">Фамилия</label>
                            <input type="text" class="form-control" asp-for="SecondName" value="@Model.SecondName" placeholder="surname">
                        </div>
                    </div>
                     <div class="row mt-3">
                         <div class="col-md-12">
                             <label class="labels" asp-for="Nickname">Никнейм</label>
                             <div class="input-group-prepend">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text" id="basic-addon1">&#64;</span>
                                 </div>
                                 <input type="text" class="form-control" asp-for="Nickname" placeholder="enter address line 1" value="@Model.Nickname"  aria-describedby="basic-addon1">
                             </div>
                         </div>
                         <div class="col-md-12">
                             <label class="labels" asp-for="Description">Описание</label>
                             <textarea type="text" class="form-control" asp-for="Description" placeholder="Описание">@Model.Description </textarea>
                         </div>
                     </div>
                     <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Сохранить изменения</button></div>
                 </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>Роли в команде, в которых хочу быть</span>
                </div>
                @if (Model.TeamRoles != null)
                {
                    foreach (var teamRole in Model.TeamRoles)
                        @(await Html.PartialAsync("~/Views/TeamRole/TeamRoleSummary.cshtml", teamRole))
                }
                <br>
                <a class="btn btn-outline-primary btn-sm" 
                   style="horiz-align: right; vertical-align: bottom"
                   href="@Url.Action("AddTeamRole", "TeamRole", new {guid = Model.Guid})"
                   >Добавить</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>